*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100vh;
  background-color: black;
  color: whitesmoke;
}
.parent{
  width: 100%;
  height: 100vh;
  background-color: #111;
  padding: 50px;
  display: flex;
  gap: 30px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card{
  position: relative;
  max-height: 100vh;
  width: 280px;
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
}
.card .top img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  outline: gray;
}
.card .top{
  margin: 10px 0;
}
.card .top button{
  position: absolute;
  top: 20px;
  right: 10px;
  display: flex;
  align-items: center;
  border: 1px solid gray ;
  padding: 2px;
  border-radius: 7px ;
  color: gray;
}
.center {
  color: #111;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 7px;
}
.card .btn{
  display: flex;
  align-items: center;
  gap: 10px;
  button{
  padding: 4px;
  border: none;
  border-radius: 4px;
  background-color: gainsboro;
}
}
.bottom{
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #b1b1b1;
  padding: 10px;
  
  button{
    background-color: black;
    border: none;
    padding: 5px;
    color: whitesmoke;
    border-radius: 4px;
  }
  p{
    color: gray;
  }
}
.tag{
  display: flex;
  flex-direction: column;
 gap: 100px;
}
.center span{
  color: #b1b1b1;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 12px;
  font-weight: 100;
}