*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100vh;
  background-color: black;
  color: whitesmoke;
}
.parent{
  width: 100%;
  height: 100vh;
  background-color: #111;
  padding: 50px;
}
.card{
  height: 350px;
  width: 300px;
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
}
.card .top img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.card .top{
  margin: 20px 0;
}
.center {
  color: #111;
  
  h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px 0 ;
  }
  span{
    font-size: 15px;
    color: #777;
  }
}
.card .btn{
  display: flex;
  align-items: center;
  gap: 10px;
  button{
  padding: 4px;
  border: none;
  border-radius: 4px;
  background-color: gainsboro;
}
}
.bottom{
  color: black;
}
