*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  width: 100%;
  height: 100vh;
  background-color: #333;
  color: whitesmoke;
  padding: 2rem;
}
form{
  display: flex;
  gap: 20px;
}
#userName{
  font-size: 18px;
  padding: 4px 6px;
  background-color: #777;
  border: none;
  border-radius: 10px;
}
#btn{
  padding: 4px 6px;
  background-color: red;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  letter-spacing: 0.9px;
}
#userName::placeholder{
  color: black;
  letter-spacing: 1.6px;
}
