*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
html{
  font-size: 62.5%
}
body{
  width: 100%;
  height: 100vh;
  background-color: #333;
  color: white;
}
h1{
  margin-top: 20rem;
  text-align: center;
  font-size: 5rem;
}
.nav{
  padding: 2rem;
  background-color: cadetblue;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav ul {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 4rem;
  font-size: 2rem;
}
.nav ul{
  list-style-type: none;
  text-decoration: none;
  color: white;
}
.nav h3{
  font-size: 2rem;
}