*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
html,
body{
  width: 100%;
  background-color: black;
  color: white;
}
.Card{
  background-color: skyblue;
  color: white;
  border-radius: 5px;
  margin: 20px;
  padding: 5px;
}
.navbar{
  margin: 10px 5px;
  background-color: skyblue;
  border-radius: 10px;
  padding: 5px;
  ul{
    list-style-type: none; ;
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    align-items:  center;
    color: rgb(30, 29, 29);
    font-size: larger;
    font-weight: 700;
  }
}